*{
    box-sizing: border-box;
    text-align: justify;
    font-family: cursive;
}
main{
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "h h h"
    "n n n"
    "ar ar ar"
    "s s s"
    "f f f";
    background-color: rgb(85, 156, 85);
    font-size: 20px;

    outline: solid rgb(199, 96, 96) 10px;

}
body{
    background-image: url(kepek/hatter1.jpg);
}
header{
    grid-area: h;
    height: 150px;
    padding: 30px;
    background-color: rgb(85, 156, 85);
    border: solid 3px black;
}
header h1{
    text-align: center;
}
nav{
    grid-area: n;
    text-align: center;
    background-color: rgb(199, 96, 96);
    border-bottom: solid black 3px;
    height: 50px;
    padding: 10px;

}
nav a{
    margin: 150px;
    font-size: 25px;
    text-decoration: none;
    color: black;

}
nav a:hover{
    color: aliceblue;
}

article{
    grid-area: ar;
    padding: 20px 20px 0px;
    border-right: solid 3px black;
    border-left: solid 3px black;

}
section{
    grid-area: s;
    border-left: solid 3px black;
    border-right: solid 3px black;
    padding: 10px;
}

footer{
    grid-area: f;
    text-align: center;
    padding: 5px;
    background-color: rgb(199, 96, 96);
    border-top: solid 3px black;
}

img{
    width: 200px;
    border-radius: 15px;
    border: black 3px solid;
    margin: 10px;
}
.kep:hover{
    opacity: 50%;
}